# To keep the old feed address.
Redirect permanent /feed /index.xml
RedirectMatch permanent ^/tag/(.*)/$ /tags/$1/
RedirectMatch temp /lekarze.* /atopedia/Dział_z_lekarzami
Redirect permanent /reddit https://pl.reddit.com/r/atopowezapalenieskory
