{{ partial "header.html" . }}

	<main role="main">
		<h2 class="list-title">{{ .Title }}</h2>
    <p>
      Użyj CTRL+F żeby wyszukać interesujący cię artykuł.
    </p>
    <ul class="list-inline inline">
{{ range .Data.Pages }}
			<li class="entry-title" itemprop="headline">
        <article itemscope itemtype="http://schema.org/Blog">
        <a href="{{ .RelPermalink }}">
          {{ .Title }}{{ if .Draft }} #Draft{{ end }}
        </a>
        </article>
      </li>
{{ end }}
    </ul>
	</main>

{{ partial "footer.html" . }}
